*{box-sizing: border-box;}
body
{
    height: 100%;
    margin: 0;  
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;
    background:url(img/2.png) center transparent fixed; 
    position: absolute;
}

:root
{
  --primary:#1D2268 ;
  --secondary:#e15a1c;
  --accent:#D31C19;
  --text:white;
}

/* ////////////////////  HEADER  /////////////////// */

header
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  background-color:white ;
  position: fixed;
  border-bottom: 1px solid #5c5b5e;
  

}
.logo
{
  width: 20%;
  padding-top: 10px;
  background-color:white ;

  
}
.logo img
{
  width: 100%;
 
}
nav
{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
 
 

}
nav a
{

flex-grow: 1;
text-decoration: none;
color: #3D3C3F;
font-weight: bold;
padding: 20px;
transition: transform 0.3s;
}

nav a:hover
{
color: #182092 ;
font-weight: bold;
transform: scale(120%);

}
nav #aktiv

{
color: #182092 ;
font-weight: bold;
transform: scale(120%);
}

/* /////////////////////  MAIN //////////////// */
main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.slider
{
  width: 100%;
  background-color:white ;
  
}
#bild
{
  width:100%;
  background-image: url(img/1.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: var(--text);
 
}
#bild i
{
  font-size: 4em;
  
}
#bild button
{
  outline: none;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}
#bild button:hover
{
  opacity: 0.5;
}



/*///////////////////// leistungen ////////////////////// */

.leistungen
{
  width: 100%;
  margin-bottom: 200px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color:white ;
}
.leistungBigBox
{
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin: 0 auto;
}
.leistungenBox
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  padding-bottom: 20px;
  flex-grow: 1;
  margin: 20px;
  box-shadow: -1px 1px 9px -1px #000000;
  border-radius: 10px;
}
.leistungenBox span
{
  padding: 0 50px;
}
.leistungenBox button
{
  background-color: var(--accent);
  
  border-radius: 5px;
  padding:10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-weight: bold;
  margin: 10px 0;
}
.leistungenBox button:hover
{
  opacity: 0.9;
}

.card
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}
.card i
{
  font-size: 100px;
  color: white;
  cursor: pointer;
}

/* ///////////////////// UNSERTEAM //////////////// */


.unserteam
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 125px; */
  background-color:white ;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.ourteam
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px 5px;
  flex-grow: 1;
  margin: 10px;
  box-shadow: -1px 1px 9px -1px #000000;
  border-radius: 10px;
  
}
.foto img
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
 
}
.foto img:hover
{
  border:1px solid var(--primary);
}
.ourteam span
{
margin-bottom: 10px;
}
.social
{
  display: flex;
  justify-content:space-between;
}
.social i
{
margin: 5px;
cursor: pointer;
color: var(--primary);
font-size: 1.2em;
}

/* //////////////////// FOOTER ////////////////////// */

footer
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerTop
{
  
  display: flex;
  justify-content: space-between;
  background-color:whitesmoke ;
  padding:45px;
  border-bottom: 1px solid #5c5b5e;
}

.footerBox
{
  display: flex;
}

.footerBox span
{
  font-weight: bold;
  color: #3D3C3F;
  font-size: 1.1em;
  
}
.contactSection, .adressSection, .mailSection
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.icon
{

  padding: 20px
}
.footerBox h4
{
  margin-bottom: 5px;
}
.footerBox i
{
font-size: 45px;
color: var(--primary);
}

.mail, .adress, .tlf
{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}







.footerBottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color:whitesmoke ;
  padding: 20px;
 
}
