*{box-sizing: border-box;}
body
{
    height: 100%;
    margin: 0;  
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

:root
{
  --primary:#43477e ;
  --secondary:#e15a1c;
  --accent:#D31C19;
  --text:white;
}

/* ////////////////////  HEADER  /////////////////// */

header
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  background-color:white ;
  position: relative;
  border-bottom: 1px solid #5c5b5e;
  

}
.logo
{
  width: 20%;
  padding-top: 10px;
  background-color:white ;

  
}
.logo img
{
  width: 100%;
 
}
nav
{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
 
 

}
nav a
{

flex-grow: 1;
text-decoration: none;
color: #3D3C3F;
font-weight: bold;
padding: 20px;
transition: transform 0.3s;
}

nav a:hover
{
color: #182092 ;
font-weight: bold;
transform: scale(120%);

}
nav input
{
  outline: none;
 
  padding: 3px;
  padding-left: 5px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-right: none;
  font-size: 0.9em;
}
nav input:focus
{
  border: 2px solid var(--primary);
}
nav button
{
  
  padding: 3px;
  background-color: white;
  border: 1px solid var(--primary);
  border-left: none;
  cursor: pointer;
  font-size: 0.9em;
}
nav button i
{
  color: var(--accent)
}
nav #aktiv

{
color: #182092 ;
font-weight: bold;
transform: scale(120%);
border-bottom: 2px solid var(--secondary);
}

#hamburger
{
  color: var(--accent);
  font-size: 1.5em;
  margin: 15px 25px;
  display:none;
}

/* //////////////////UEBERUNS MAIN////////////////// */

main
{
    width: 100%;
    min-height: 100vh;
    position:absoulute;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 25px 0;
    display: flex;
}


main p
{
   width:50%;
   font-size: 20px;
   line-height: 1.8;
   margin: 0 auto;
   color: white;
}

main img
{
  width: 50%;
  margin: 10px auto;
  box-shadow: -1px 1px 9px -1px #000000;
  border-radius: 10px;
}

/* //////////////////// FOOTER ////////////////////// */

footer
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footerTop
{
  
  display: flex;
  justify-content: space-between;
  background-color:whitesmoke ;
  padding:20px;
  border-bottom: 1px solid #5c5b5e;
}

.footerBox
{
  display: flex;
}

.footerBox span
{
  font-weight: bold;
  color: #3D3C3F;
  font-size: 1.1em;
  
}
.contactSection, .adressSection, .mailSection
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.icon
{

  padding: 20px
}
.footerBox h4
{
  margin-bottom: 5px;
}
.footerBox i
{
font-size: 45px;
color: var(--accent);
}

.mail, .adress, .tlf
{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}

.footerBottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color:whitesmoke ;
  padding: 5px;
 
}

@media (max-width:700px)
{
  nav
  {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  nav button, nav input,nav
  {
    display: none;
  }
  main p, main img
  {
    width: 90%;
  }
  #hamburger
  {
    display: block;
    cursor: pointer;
  }
  header
  {
    justify-content: space-between;
    align-items: flex-end;
    /* flex-direction: column; */
   
  }

  nav
  {
    background-color:var(--secondary);
    
  }
  nav a
  {
    color: white;
    
  }
  .footerTop
  {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

 
}
